.App {
  text-align: center;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  &__header {
    &--logo {
      margin-bottom: 0;

      text-decoration: none;
      color:black;
    }
  }
}

.mainPage {
  &__hero {
    margin-bottom: 4rem;
  }
  &__form {
    &--input {
      width: 20rem;
      height: 3rem;
      border-radius: 4px;
      
    }
    &--button {
      width: 5rem;
      height: 3rem;
      margin-left: 1rem;
      border-radius: 4px;
    }
  }
}
